*{
    margin: 0px;
    padding: 0px;
    
}
.menu-container{
    background-color: rgba(12, 11, 11, 0.958);
    padding: 10px;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menus{
    display: flex;
    list-style: none;
    background-color: transparent;
}
.m-value{
    margin-right: 40px;
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
}
.logo-photo{
    width: 130px;
    background-color: rgba(220, 20, 60, 0.826);
}
.m-value:hover{
    color: aqua;
}

.banner-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    background-image: url(),
    linear-gradient(45deg,#030303,#635d5d);
}

.banner-text > .banner-heading{
    font-size: 40px;
    color: #e80d0d;
    margin-bottom: 10px;
}
.banner-text > .banner-pra{
    color: #40d457;
    margin-bottom: 20px;
    font-size: 18px;
}
.banner-btn{
    background-color: #e80d0d;
    color: aliceblue;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 7px;
    border: none;
}

