*{
    margin: 0px;
    padding: 0px;
    background-color: rgba(128, 128, 128, 0.377);
}
.menu-container{
    background-color: rgba(224, 13, 55, 0.568);
    padding: 20px;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menus{
    display: flex;
}
.m-value{
    margin-right: 10px;
    text-decoration: none;
    font-size: 20px;
}
.logo-photo{
    width: 130px;
    background-color: rgba(220, 20, 60, 0.826);
}
.m-value:hover{
    color: aqua;
}